<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<!-- <base th:href=" @{/}" /> -->
<title>注册</title>
</head>
<body>

<!-- 
	thymeleaf 中获取当前项目的上下文路径  @{/}
 -->

	<form th:action="@{/register}" method="post">
		<fieldset>
			<legend>员工信息添加</legend>
			
			<input type="hidden" name="emp_id" th:value="${user_type}" />
			
			<input type="radio" name="user_type" value="USER" checked="checked" />普通用户
			<input type="radio" name="user_type" value="SALER" />商户用户
			<label for="user_name">name:</label>
			<input type="text" name="user_name" id="user_name" /><br /><br />
			<label for="user_password">password:</label>
			<input type="password" name="user_password" id="user_password" /><br /><br />
			<label for="user_tele">tele:</label>
			<input type="text" name="user_tele" id="user_tele" />
			<input type="button" onclick="" value="发送验证码"/><br /><br />
			<label for="code">EMP_SALARY:</label>
			<input type="text" name="code" id="code" /><br /><br />
			
			<input type="submit" onclick="" value="确认注册" />
		</fieldset>		
	</form>
	
	

</body>
</html>